In [4]:
import pandas as pd

In [7]:
data = pd.read_csv('Cloud Warehouse Compersion Chart.csv', index_col=0)

In [10]:
data.head()

                             Shiprocket        Unnamed: 1            INCREFF
index
0                                 Heads  Price (Per Unit)   Price (Per Unit)
1         Inbound (Fresh Stock and RTO)             ₹4.00                  4
2                              Outbound             ₹7.00                 11
3                       Storage Fee/Cft            ₹25.00  Rs 0.15/- Per Day
4      Customer Return with Detailed QC             ₹6.00               15.5

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Shiprocket  21 non-null     object
 1   Unnamed: 1  41 non-null     object
 2   INCREFF     28 non-null     object
dtypes: object(3)
memory usage: 1.6+ KB

data set only has three columns

**Connecting to MySql Databases**

In [5]:
import mysql.connector as mysql
from mysql.connector import Error
try:
    conn = mysql.connect(host='localhost', user='root',  
                        password='Rahasiadon9')#my password
    if conn.is_connected():
        cursor = conn.cursor(prepared=True)
        cursor.execute("CREATE DATABASE SalesDataset")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Error while connecting to MySQL 1007 (HY000): Can't create database 'SalesDataset'; database exists

In [25]:
import mysql.connector as mysql
from mysql.connector import Error
try:
    conn = mysql.connect(host='localhost', database='SalesDataset', user='root', password='Rahasiadon9')
    df = pd.read_csv('Cloud Warehouse Compersion Chart.csv', index_col=0)
    if conn.is_connected():
        cursor = conn.cursor(prepared=True)
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS CloudWarehouse;')
        print('Creating table....')
# in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE CloudWarehouse(Shiprocket Longtext, Unnamed1 Longtext, INCREFF Longtext)")
        print("Table is created....")
        #loop through the data frame
        for i,row in df.iterrows():
            #here %S means string values 
            sql = "INSERT INTO SalesDataset.CloudWarehouse VALUES (%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('salesdataset',)
Creating table....
Table is created....
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted